.git
.gitignore
node_modules
vendor
.env
.env.*
!.env.example
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
tests
.phpunit.result.cache
docker-compose.yml
README.md
.idea
.vscode
_ide_helper.php
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
